<form onsubmit="return false;" data-auto="true" action="{:url('save')}" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body padding-40">
        <label class="layui-form-item margin-top-20 block relative">
            <span class="color-green margin-right-10">代理商须知</span><span class="nowrap color-desc">AgentNotice</span>
            <textarea name="agent_notice">{:sysconf('agent_notice')}</textarea>
        </label>
        <div class="layui-form-item text-center margin-top-20">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>
    <script>
        window.form.render();
        require(['ckeditor', 'angular'], function () {
            window.createEditor('[name="agent_notice"]', {height: 500});
        })
    </script>
</form>
