{extend name='admin@main'}
{block name="content"}
<div class="think-box-shadow">
    {include file='integral/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='text-left nowrap' style="width: 20%">头像</th>
            <th class='text-left nowrap' style="width: 30%">名称</th>
            <th class='text-left nowrap' style="width: 30%">变更数</th>
            <th class='text-left nowrap' style="width: 30%">描述</th>
            <th class="text-left nowrap">时间</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='text-left nowrap'>{notempty name='vo.headimg'}<img data-tips-image style="width:25px;height:25px;vertical-align:top" src="{$vo.headimg|default=''}" class="margin-right-5">{/notempty}</td>
            <td class='text-left nowrap'>{$vo.name|default='--'}</td>
            <td class='text-left nowrap'>{$vo.integral|default='--'}</td>
            <td class='text-left nowrap'>{$vo.desc|default='--'}</td>
            <td class='text-left nowrap'>{$vo.create_at}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
<script>

</script>
{/block}
